@import url('https://fonts.googleapis.com/css?family=Lato:300');





h2 {
    text-align: center; 
    margin: 35px 0;
}

table {
    font-family: 'Lato', sans-serif !important;

    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    
    margin: 35px 0;

}



.table { 
    width: 100%;
    margin-bottom: 20px;
    color: #CCCECF !important;
}

.table th,
.table td {
    font-weight: normal;
    text-align: center;
    padding: 8px 15px;
    line-height: 20px;

    vertical-align: middle;
    border-top: 1px solid #dddddd;
}

.table td {
    color: black !important;
}

.table thead th {
    background: #343A40;
    vertical-align: bottom;
}   




.table .t-small {
    width: 5%;
}
.table .t-medium {
    width: 15%;
}

td.t-status.t-active {
    width: 17% !important;
}



/* Small Sizes */
@media (max-width: 1200px) { 
    td.t-status.t-active {
        width: auto !important;
    }


    .table-action thead {
        display: none;
    }
    .table-action tr {
        border-bottom: 1px solid #dddddd;

    }
    .table-action td {
        border: 0;
    }
    .table-action td {
        display: block;
    }

    .col-sm-4 {
        text-align: center;
        margin: 10px;
    }

    .table {
        margin: auto;
    }
}