@font-face {
    font-family: 'dayroman';
    src: url('../fonts/dayroman.otf');
}

h1, h2, h3, h4, p, a, span, button, div, .jumbotron {
    font-family: 'dayroman';
}
p{
    font-size:18px !important;
}
.form-group label {
    text-align: left;
}

.panel-default {
    margin-bottom:3px;
}

.site-container  {
    padding-top : 20px !important;
}


.alert {
    width: 70%;
}

.btn {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius:1px;
}

.site-title {
    color: #333333;
    text-decoration: none;
}

.bloc-title {
    display: flex;
}
.site-title:hover {
    text-decoration: none;
    color: #333333;
}
/*NAV*/
.navbar {
    margin-bottom:0px;

    border-radius: 0px;
}
.navbar-brand {
    color: #F0F0F0;
    font-size:40px;
}
.navbar-brand:hover {
    color: #F0F0F0;
}

/*ACCUEIL*/

.jumbotron {
    padding-top:0px;
    background: none;
    border : 2px solid black;
    border-radius: 0px !important;
    border-color: #525C5E;
}

.well{
    background: none;
    border: none !important;
}

.img-header {
    width:100%;
}
.img-header img{
    height:auto;
    display: flex;
    max-width:100%;
}

.post-title {
    color: #525C5E;
}

.post-title:hover {
    text-decoration: none;
    color: #333333;
}

ul {
   list-style-type: none;

}

.bloc-post {
    margin-bottom:20px;
    margin-right:10px;
    /*border:1px solid black;*/
    padding:15px;
    background: #F0F0F0;
}

.well {
    padding: 0;
}
.episode {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    top:0px;
    right:0px;
    padding-top:20px;
    line-height: 40px;
    padding-bottom:25px;
    background: #525C5E;
    color: #F0F0F0;
    font-size:20px;
}

.sidebar-nav-fixed {
    max-height:500px;
    overflow: auto;
}
/*POST*/

.input-name{
    margin-top:5px;
    width:40%;
}

.comment {
    width:70%;
}
textarea {
    width:100%;
}
.panel-body {
    padding: 5px;
}

.btn-response {
    margin:5px;
}

#bloc_comment{
    margin-bottom:20px;
}

#bloc_comment input:nth-child(2){
    margin-bottom:5px;
}

#bloc_comment h3 {
    text-align: center;
}

.article-content {
    max-height:600px;
    overflow: auto;
    border: 1px double #FFB174 ;
    margin-bottom:20px;
    margin-top: 20px;
}
.article-content article {
    padding:20px;
}

#name-response {
    margin-top:5px;
    width:40%;
}
/*LOGIN*/

#form_connexion {
    margin-top:100px;
}

/*ADMIN*/

.nav-admin {
    position: absolute;
    top:0;
    right:30px;
}

.dropdown-menu {
    border-radius: 0px;
}
.admin-btn {
    margin:8px 15px 0px 15px;

}
.btn-primary{
    background: #525C5E;
    border:none;
}

.btn-primary:hover {
    background: #525C5E;
}

.back {
    margin-left:0px ;
}

#boutonajouter {
    margin-top:20px;

}

.action-btn {
    margin-right:5px;
}

#buttons {
    display: flex;
}

.btn-danger {
    background: none;
    color: #46527C;
    border:none;
}

.admin-com {
    border:5px solid black;
}

.admin-post {
    background: #A6A6A6;
}

.inline {
    display: flex;
    justify-content:space-between;
}

.modal {
    color: black;
}
.fa-exclamation {
    line-height:20px;
    cursor: default;
}

.moderate-comm {
    color: #A94442;
}

.moderate-comm:hover {
    color : #A94442;
}

#mceu_12{
    display: none;
}

#input-episode {
    width:20%;
}
/*MANAGE COMMENTS */
.title h1 {
    line-height:50px !important;
    margin-bottom:20px;
}

.post-line {
    background: #F8F8F8;
}

/*404*/

.page-404 {
    width: 100%;
    height: 94.4vh;
    color: #5E5E73;
    /*padding: 40vh;*/
    background: url("../img/404.jpg") center/cover;
}

.bloc-404{
    padding:10px;
}

/*ALERTS*/

.alert {
    border-radius:0px;
    border:none;
}
.alert-info{
    background : rgb(38,118,173);
    color: white;
}
.alert-success {
    background: rgb(116,181,89);
    color: white;
}

.alert-danger {
background : rgb(195,58,56);
    color: white;
}

.validate-alert {
    color: white;
}

.hide-btn {
    color: black;
}

.delete-com {
    color: black;
}
/*SROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(82,92,94,0.3);
    border-radius:0px;

}

::-webkit-scrollbar-thumb {
    background: rgb(82,92,94);
    -webkit-box-shadow: inset 0 0 6px rgba(82,92,94,0.5);
}












