@import url('https://fonts.googleapis.com/css?family=Lato:300');

h1, h3
{
    text-align:center;
}
h3
{

    font-size:0.9em;
    margin-bottom:0px;
}

a
{
    text-decoration: none;
    color: blue;
}

.deleteCom {

    color: red !important;
    text-decoration: underline;
}



.dash{
    border:1px solid; 
    padding:10px; 
    margin-bottom:5px;
    border-radius:4px
}
.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

th{
    text-align:center;
}

.select {
}
.radio-tick, .radio-cross, .radio-cross-label, .radio-tick-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.radio-tick, .radio-cross {
    opacity: 0;
    position: absolute;
}
.radio-tick-label, .radio-cross-label {
    position: relative;
}
.radio-tick, .radio-cross, .radio-cross-label, .radio-tick-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.checkbox label, .radio label, label {
    font-family: Roboto;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #666767 !important;
}
.radio-tick + .radio-tick-label:before, .radio-cross + .radio-cross-label:before {
    border-radius: 50%;
}
.radio-tick + .radio-tick-label:before {
    content: '\f383';
    background: #fff;
    border: 2px solid #7f7f7f;
    color: #7f7f7f;
    font-family: 'Ionicons';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    font-size: 16px;
    height: 30px;
    padding: 2px;
    text-align: center;
}
.radio-cross + .radio-cross-label:before {
    content: '\f2d7';
    background: #fff;
    font-family: 'Ionicons';
    font-size: 16px;
    color: #7f7f7f;
    border: 2px solid #7f7f7f;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
textarea{
    resize:none;
    height:100px;
    width:100%;
}

.btn-primary {
    background: #525C5E !important;
    border: none !important;
}

.article-content {

       
    
    
    margin: 30px;
    

}

.container-accueil {
    background-image: url(public/image/landscape-1622739_1920.jpg);
}

.img-header {
    width:100%;
    height:100%;
    display:block;
}

.img-header img {
    height: auto;
    display: flex;
    max-width: 100%;
}

.nav-admin {
    position: absolute;
    top: 0;
    right: 30px; }

.admin-btn {
    margin: 8px 15px 0px 15px;
}

.btn btn-primary back row {
    margin-left: 150px;
}

.content {
    width: 950px;
    margin: auto;
}

.container text-center bloc-title {
    text-decoration: none;
    color: black;
}



.row-content {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      padding: 20px;
    margin: 20px;
    font-family: 'Lato', sans-serif;
}

.row-content:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.row-content p{
    
    margin-top: 2em;
    
}

.btn-secondary {
    font-family: 'Lato', sans-serif;
    background: white;
    color: black;
    float: right;
    border-radius: 0px;
}



.btn-primary {
    
    font-family: 'Lato', sans-serif;
    border-radius: 0px;
    margin-left: 40px !important;
    
}

footer {
    text-align: center;
}

.link-content {
    text-decoration: none !important;
    color: black;
}

.link-content:hover {
    text-decoration: none !important;
    color: black;
}

.article {
    font-family: 'Lato', sans-serif;
}

.header-title {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.content {
    margin-top: 25px;
}

.comment-space {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  
  margin: auto;
  margin-top: 35px;
  position: relative;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: 'Lato', sans-serif;
  padding: 25px;
}

.comment-text {
  margin-bottom: rem(20);
}

.bottom-comment {
  color: #acb4c2;
  font-size: rem(14);
}
.bottom-comment a {
    text-decoration: none;
    color: #acb4c2;
    padding: 1px 5px;
}

.bottom-comment a:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    padding: 5px 1px;
}

.comment-date {
  float: left;
}

.comment-action {
    float: right;
    
}